:root{
    --fuente:'Poppins', sans-serif;
    --negro:#111111;
    --blanco:#ffffff;
    --rojo:#c41925;
    --obscuro:#1e1e1e;
    --gris:rgb(182, 182, 182);
}
html{
    font-size:62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family:var(--fuente);
    background:var(--negro);
    font-size:1.6rem;
    line-height:1.3;
}
h1,h2,h3,p,a,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img{
    max-width:100%;
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
}
.contenedor{
    max-width:1200px;
    margin: 0 auto;
    width:90%;
}
.header{
    display: grid;
    grid-template-rows:5rem auto;
    height:100vh;
}
.header__flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 0;
}
.ul{
    display: flex;
    gap:2rem;
}
.logo{
    color: var(--rojo);
}
.link{
    color:var(--blanco);
    transition:color .4s;
}
.link:hover{
    color:var(--rojo);
}
.header__grid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    gap:3rem;
}
.header__img{
    display: flex;
    align-items: center;
    justify-content:center
}
.header__img img{
    width:40rem;
}
.header__heading{
    color:var(--rojo);
    font-size:1.8rem;
}
.header__heading--bg{
    color: var(--blanco);
    font-size:5rem;
}
.header__parrafo{
    text-transform: capitalize;
    color:var(--gris);
}
.bton{
    display: inline-block;
    background:var(--rojo);
    color: var(--blanco);
    border-radius: .2rem;
    padding:1.5rem 6rem;
    font-size:1.5rem;
    margin:1.5rem 0;
    transition: background .4s;
    animation: latidos 2100ms infinite;
}
.bton:hover{
    background:#a9161f;
}
@keyframes latidos {
    from { 
        transform: none; 
    }
    50% { 
        transform: scale(1.1); 
    }
    to { 
        transform: none; 
    }
}
.main{
    background: linear-gradient(to right, #191919 0%, #191919 50%,var(--negro) 50%);
    padding:10rem 0;
}
.service__grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
}
.service__item{
    background: var(--obscuro);
    padding:5rem 1rem;
}
.service__item--bg{
    background:linear-gradient(to top,#d42a35 0%, var(--rojo) 20%, var(--rojo) 100%)
}
.service__img{
    display:flex;
    justify-content:left;
    align-items: center;
    margin-bottom:1rem;
}
.service__img img{
    width:5rem;
}
.heading{
    color: var(--blanco);
    font-size:3rem;
    font-weight: bold;
}
.parrafo{
    color: var(--gris);
    font-size:1.5rem;
    padding:1rem 0;
}
.bton-link{
    display: inline-block;
    font-weight: bold;
    color:var(--rojo);
    font-size:bold;
    position: relative;
    padding-top:.5rem;
}

.bton-link::before{
    content: '';
    background: url(../img/bx-right-arrow-alt.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:3rem;
    height:2rem;
    left:9rem;
    position:absolute;
}
.bton-link-bg{
    display: inline-block;
    font-weight: bold;
    color:var(--blanco);
    font-size:bold;
    position: relative;
    padding-top:2rem;
}
.bton-link-bg::before{
    content: '';
    background: url(../img/right-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:3rem;
    height:2rem;
    left:9rem;
    position:absolute;
}
.experencie{
    padding-top:10rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:2rem;
}
.item__experencie--year{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading__year{
    color:var(--rojo);
    font-size:12rem;
}
.parrafo__year{
    color: var(--blanco);
    font-size:2rem;
    font-weight: bold;
}
.item__experencie--info{
    grid-column:2/4;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
}
.year__info{
    background:var(--obscuro);
    text-align: center;
    padding:2rem;
}
.info__year{
    color: red;
    font-size:4rem;
    font-weight: bold;
}
.text__year{
    color:var(--gris);
    font-size:1.5rem;
    padding:.5rem 0;
}
.future{
    padding:10rem 0;
}
.future__info{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;

}
.proyect{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
    padding-top:5rem;
}
.proyect__img{
    display: inline-block;
    background: var(--obscuro);
    padding:6rem 3rem;
}
.proyect__imagen{
    box-shadow:0px 9px 10px 8px rgb(0 0 0/.30);
    height:30rem;
}
@media(max-width:1024px){
    .service__grid{
        grid-template-columns:1fr 1fr;
    }
}
@media(max-width:768px){
    .navegacion{
        display: none;
    }
    .header__grid{
        grid-template-columns:1fr;
    }
    .header__img{
        display: none;
    }
    .service__grid{
        grid-template-columns:1fr;
    }
    .experencie{
        grid-template-columns:1fr ;
    }
    .item__experencie--info{
        grid-column:1/2;
    }
    .future__info{
        flex-direction: column;
    }
    .proyect{
        grid-template-columns:1fr;
    }
}